.board{
  width: 600px;
  height: 638px;
  background: url('carte_base.png');
  display: none;
  margin: 50px auto;
}

.board_target{
  background: url('../layers/07-10-2016_15h45:16h00_heure3.png');
  width: 600px;
  height: 638px;
}
