body{
  min-width: 600px;
}

.board{
  width: 600px;
  height: 638px;
  background: url('carte_base.png');
  display: none;
  margin: 50px auto;
}

.board_target{
  width: 600px;
  height: 638px;
  position: absolute;
}

.info{
  text-align: center;
}

.info>p{
    margin: 2px;
    color: #fa5252;
}
