body{
  min-width: 600px;
}

.board{
  width: 600px;
  height: 638px;
  background: url('carte_base.png');
  display: none;
  margin: 50px auto;
}

.board_target{
  width: 600px;
  height: 638px;
  position: absolute;
}

.info{
  margin: 0 auto;
  display: table;
  opacity: 0;
  transition: all 0.2s;
  min-width: 600px;
}

.info>p{
    margin: 2px;
}

.left{
  float: left;
  margin-right: 25px;
}

.right{
  float: right;
}

.active{
  color: #fa5252;
  display: table-header-group;
}

.unactive{
  display: table-footer-group;
}
